{% extends 'store/base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <img src="{{ product.image }}" alt="{{ product.name }}" class="card-img-top" style="max-height: 200px; object-fit: contain;">
                <div class="card-body text-center">
                    <h4 class="card-title">{{ product.name }}</h4>
                    <p>{{ product.description }}</p>
                    <hr>
                    <p class="card-text">${{ product.price }}</p>
                    <hr>
                    <p><strong>Chain Type:</strong> {{ product.chain_type }}</p>
                    <p><strong>Size:</strong> {{ product.size_type }}</p>
                    <p><strong>Color:</strong> {{ product.get_color_display }}</p>
                    <!-- Add more product details as needed -->
                    <button data-product="{{product.id}}" data-action="add" class="btn btn-outline-success add-btn update-cart">Add to cart</button>
                </div>
                <div class="card-footer text-center">
                    <a href="javascript:history.back()" class="btn btn-secondary">Back</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
document.addEventListener("DOMContentLoaded", function() {
    const addToCartButtons = document.querySelectorAll(".add-to-cart");

    addToCartButtons.forEach(button => {
        button.addEventListener("click", function() {
            const productId = this.getAttribute("data-product-id");
            addItemToCart(productId);
        });
    });

    function addItemToCart(productId) {
        const url = "{% url 'update_item' %}";
        const csrftoken = getCookie('csrftoken');

        fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrftoken,
            },
            body: JSON.stringify({
                productId: productId,
                action: 'add',
            }),
        })
        .then(response => response.json())
        .then(data => {
            // Handle the response if needed
            console.log(data);
        })
        .catch(error => {
            console.error('Error:', error);
        });
    }

    function getCookie(name) {
        var cookieArr = document.cookie.split(";");

        for (var i = 0; i < cookieArr.length; i++) {
            var cookiePair = cookieArr[i].split("=");

            if (name == cookiePair[0].trim()) {
                return decodeURIComponent(cookiePair[1]);
            }
        }
        return null;
    }
});
</script>
{% endblock content %}